/* Console */

.consolefeed-container {
  background-color: black;
  margin: 0;
  overflow: auto;
  width: 100%;
}

.consolefeed-container p {
  font-family: 'Fira Code', monospace;
  color: #dbdbdb;
  font-size: 14px;
  margin-left: 1em;
}
