.tab-container {
    display: flex;
    align-items: center;
    padding: 0 20px 0 12px;
    transition: all 0.3s ease 0s;
  }
  
  .tab-container:hover {
    background: rgb(30, 30, 30);
    color: white; 
    cursor: pointer;
  }

  .file-icon {
    height: 15px;
  }