.editor-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: #0c0d10;
  font-size: 12px;
}

.tabs-container {
  display: flex;
}

.tab-container {
  display: flex;
  align-items: center;
  padding: 0 20px 0 12px;
  color: white;
  transition-duration: 250ms;
  cursor: pointer;
}

.tab-container:hover {
  background-color: #14161b;
}

.tab-selected {
  background-color: #1e2028;
}

.file-icon {
  height: 15px;
}
