.sidebar-section-container {
  border-bottom: solid 1px #303338;
  transition-duration: 250ms;
}

.sidebar-section-title {
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 500;
  margin: 0;
}

.sidebar-section-icon {
  font-size: 14px;
  margin-right: 1rem;
  color: white;
}

.sidebar-expand-button {
  font-size: 16px;
  color: white;
  padding: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
