.main-page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.playground-container {
  display: flex;
  flex-direction: row;
}

.top-panel,
.bottom-panel {
  display: grid;
  max-width: 100%;
}

.top-panel {
  grid-template-columns: repeat(2, 50%);
}

/* Editor */

.codemirror-container {
  background: white;
}

.editor-container {
  overflow: auto;
  max-height: 41vh;
}

.selected {
  background: white;
  color: black;
}

.console-container {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-jc {
  justify-content: space-between;
}

.button {
  transition-duration: 200ms;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: -8px;
  margin-left: -8px;
}

.button:hover {
  transform: scale(0.99);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
