.editor-bar-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  font-size: 12px;
  position: sticky;
}

.tabs-container {
  display: flex;
}

.btn-play-container,
.btn-pause-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.btn-play,
.btn-pause {
  height: 15px;
  margin-left: 5px;
}

.tab-container {
  display: flex;
  align-items: center;
  padding: 0 20px 0 12px;
  transition: all 0.3s ease 0s;
}

.tab-container:hover {
  background: rgb(30, 30, 30);
  color: white;
  cursor: pointer;
}

.file-icon {
  height: 15px;
}
