/* Status-Bar */

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #181a1e;
  border-bottom: solid 1px #303338;
  height: 3em;
  padding-left: 20px;
  padding-right: 20px;
}

.status-bar-logo {
  height: 32px;
  width: 32px;
  margin-right: 1em;
}

.status-bar-title {
  color: white;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.buttons-bar {
  display: flex;
  padding: 0 20px;
  font-size: 14px;
}

.github-button {
}

.status-bar-github-icon {
  margin-right: 10px;
  width: 28px;
}

.status-bar-github-text {
  color: white;
  opacity: 0.8;
  font-weight: 500;
}
