.timeline-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 63.5vw;
  background-color: #101114;
  border: solid #303338;
  border-width: 1px 0px 0px 0px;
  overflow-x: scroll;
}

.timeline-timepoints-container {
  display: flex;
  padding: 0 1em;
  align-items: flex-start;
  height: 100%;
}

.timeline-time-container {
  display: flex;
  padding: 0 1em 0 1em;
  max-width: 100%;
}

.timeline-header {
  text-transform: uppercase;
  font-size: 10px;
  color: #798294;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 1em;
  opacity: 0.8;
  margin-right: 16px;
}

.timeline-time-item {
  min-width: 80px;
}

.timeline-time-item p {
  margin: 0px;
  margin-top: 0.8em;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.timeline-start-container {
  display: grid;
  place-items: center;
  padding: 4px 0px;
  min-width: 64px;
  background-color: #3e4254;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 46px;
}

.timeline-start-container span {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.timeline-line {
  height: 8px;
  background: #1f2025;
  width: 56px;
}

.timeline-timepoint {
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 250ms;
  cursor: pointer;
}

.timeline-timepoint span {
  color: #adadad;
  font-size: 20px;
}

.timeline-selected-timepoint {
  background-color: #ffdb00;
}

.timeline-selected-timepoint span {
  color: #655a16;
}

.timeline-end-container {
  background: #1ca32a;
  margin-left: 1em;
}

.timeline-details-container {
  display: none;
  background: white;
  position: absolute;
  margin: 52px 0px 0px 148px;
  height: 44px;
  padding: 8px;
  border-radius: 6px;
}

.timeline-timepoint:hover + .timeline-details-container {
  display: block;
}

.timeline-detail-title {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
