.tabs-container {
  display: flex;
}

.tab-container {
  padding: 0em 0.5em;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  border: 1px solid #22222262;
  transition-duration: 150ms;
  cursor: pointer;
}

.tab-container:hover {
  border-bottom: 1px solid rgba(255, 255, 0, 0.345);
}

.tab-container:hover > .tab-close {
  opacity: 1;
}

.tab-container > .tab-close {
  opacity: 0;
}

.tab-selected {
  padding: 0em 0.5em;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  border: 1px solid #22222262;
  border-bottom: 1px solid yellow;
  transition-duration: 150ms;
  cursor: pointer;
}

.tab-selected p {
  color: yellow;
  margin: 0;
}

.file-icon {
  height: 18px;
}

.tab-close {
  margin-left: 0.5em;
  font-size: 18px;
}
