.watch-variables-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.watch-variables-list {
  display: flex;
  flex-direction: column;
}

.variable-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-variable,
.add-variable {
  font-size: 1.2em;
  border-radius: 50%;
  padding: 0.4em;
  transition: 150ms;
}

.delete-variable:hover,
.add-variable:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.variable {
  font-family: 'Fira Code', monospace;
  font-size: 12px;
  color: #6cd0e5;
}

.watch-variable-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watch-variable-input {
  background: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(255, 255, 255, 0.2);
  outline: none;
}
