/* Table of State */

.state-panel-container {
  display: grid;
}

.state-container {
  display: grid;
  align-content: flex-start;
}

.state-values-container {
  max-height: 500px;
}

.state-subtitle {
  margin: 0;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0.5em;
}

.state-subtitle span {
  color: white;
}

.state-values span {
  font-size: 12px;
  color: white;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.state-values-object {
  display: grid;
  cursor: pointer;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  font-size: 12px;
  color: white;
  transition: all 0.3s ease 0s;
}

.object-expand-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.object-shown {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  font-size: 12px;
  color: white;
  transition: all 0.3s ease 0s;
}

.state-values-header {
  display: flex;
  margin-top: 1.5em;
}

.state-values-header div {
  display: flex;
  flex: 1;
}

.state-values-header h5 {
  text-transform: uppercase;
  font-size: 10px;
  color: #798294;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 0;
  opacity: 0.8;
}
