.state-object-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 12px;
  color: white;
  margin-top: 16px;
}

.state-object-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
}

.state-object-type {
  font-size: 12px;
  color: white;
  font-family: 'Inter', sans-serif;
  opacity: 0.4;
  margin-left: 4px;
}

.state-object-expand-icon {
  font-size: 16px;
  color: white;
  padding: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.state-subdependency-object-container {
  font-size: 14px;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 20px;
  margin: 4px 0;
}

.state-subdependency-object-container::before {
  border-radius: 4px;
  content: '';
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: white;
  margin-right: 6px;
  vertical-align: middle;
  opacity: 0.2;
}

.state-subdependency-array-container {
  font-size: 14px;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 20px;
  margin: 4px 0;
}

.state-subdependency-array-container::before {
  content: '';
  display: inline-block;
  height: 12px;
  width: 6px;
  background-color: white;
  margin-right: 6px;
  vertical-align: middle;
  opacity: 0.2;
}

.state-subdependency-text {
  font-size: 14px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.state-object-divider {
  height: 1px;
  width: 100%;
  background-color: gray;
  opacity: 0.2;
  margin-top: 8px;
}
